.container{
    display: grid;
    place-items: center;
}
h1{
    padding: 50px;
    text-align: center;
}
.cancion{
    width: 500px;
    display: flex;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 200px;
    transition: 0.3s;
}
.cancion:hover{
    background-color: #fca311;
    /* box-shadow: 3px 5px 7px 2px #000000; */
}
.cancion:hover > p{
    text-shadow: 2px 2px 2px black;
}
.cancion:hover > button{
    text-shadow: 2px 2px 2px black;
}
p{
    width: 500px;
    text-align: center;
    padding: 15px;
    list-style: none;
    font-weight: 600;
}
button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #305197;
    color: white;
    font-weight: 600;
    /* box-shadow: 3px 5px 7px 2px #000000; */
    transition: 0.3s;
}
button:hover{
    background-color: #567cce;
    cursor: pointer;
    border-radius: 0px;
}

.crear{
    width: 200px;
    margin: 50px;
    padding: 15px;
    border: none;
    border-radius: 0px;
    background-color: #189b34;
    color: white;
    font-weight: 600;
    /* box-shadow: 3px 5px 7px 2px #000000; */
    transition: 0.5s;
    text-shadow: 2px 2px 2px black;

}
.crear:hover{
    background-color: #026e1d;
    cursor: pointer;
    transform: scale(1.2);
}