* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 50px;
}
.juego {
  width: 0%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center; /* Centra horizontalmente */
  align-content: center; /* Centra verticalmente */
}

.juego__letra {
  font-weight: 600;
  font-size: 27px;
  display: grid;
  place-items: center;
  border: 3px solid #ced2d8;
  border-radius: 7px;
  margin: 10px;
  border-radius: 7px;
  width: 70px;
  height: 70px;
}

.palabra {
  display: flex;
  justify-content: center;
}

/* TECLADO */

.teclado{
  width: 60%;
  margin: 70px auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(10, 130px);
  grid-template-rows: 1fr 1fr 1fr;
}
.teclado div{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    margin: 5px;
    padding: 30px 20px;
    background-color: #e2e8f0;
}
