<h3>Listado de Proveedores</h3>
<table
  class="table table-bordered table-striped tabla"
  style="margin-top: 40px"
>
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.nombre }}</td>
      <td>
        <a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a>
      </td>
      <td>{{ proveedor.telefono }}</td>
      <td>
        <button (click)="comprobarBoton(proveedor.cif)">Mostrar datos</button>
      </td>
    </tr>
  </tbody>
</table>

<app-etiquetas *ngFor="let proveedor of proveedores" [cifProveedor]="cifProveedor" [proveedor]="proveedor"></app-etiquetas>


