nav{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 95%;
}
a{
    text-decoration: none;
    padding: 30px 50px;
    margin: 0 10px;
    font-size: 24px;
    transition: 0.5s;
    border-radius: 0 0 5px 5px;
}
a:hover{
    background-color: rgb(83, 199, 118);
    border-radius: 0 0 20px 20px;
    text-shadow: 2px 2px black;
}